.facts_section {
  background-color: var(--off-white);
  padding: 6rem 0;
}
.facts_container {
  max-width: 128rem;
  width: 95%;
  margin: 0 auto;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    place-items: center;
  }
}

.grid .carlos_img {
  width: 100%;
  max-width: 35rem;
  animation: fadeIn 1s ease;
}

.grid h4 {
  font-size: var(--large);
  color: var(--primary);
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.5s ease;
}

.author {
  margin-top: 2rem;
}

.text_container {
  display: grid;
  place-items: center;
  animation: fadeIn 0.5s ease;
  position: relative;
  height: 47rem;
  padding-bottom: 3rem;
  gap: -4rem;
}

.text_container img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-size: cover;
  animation: fadeIn 1s ease;
  margin-bottom: -3rem;
}

.text_container h5 {
  font-size: var(--xs);
  font-weight: bold;
  color: var(--gray-dark);
  animation: fadeIn 1s ease;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.description {
  max-width: 50rem;
  padding: 1rem;
  text-align: left;
  font-size: var(--xs);
  border-radius: 1rem;
  color: var(--gray-dark);
  margin-top: -3rem;
}

@media (max-width: 768px) {
  .description {
    font-size: var(--lg);
  }
}

.text_container h4,
.author,
.text_container h5,
.description {
  animation: fadeIn 1s ease;
}

.fadeIn {
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dots {
  position: absolute;
  bottom: 0;
}

.active {
  background-color: var(--primary);
  transition: background-color 0.5s ease-in;
}
